<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->  

  <li>
    <a href="https://www.patreon.com/bePatron?u=9089733" itemprop="sameAs">
      <i class="fab fa-fw fa-patreon" aria-hidden="true"></i> Motivate us on
      Patreon!
    </a>
  </li>
  <li>
    <a href="/patreon" itemprop="sameAs">
      <i class="far fa-fw fa-question-circle" aria-hidden="true"></i> Why Patreon? 
    </a>
  </li>

